@font-face {
  font-family: "Oxygen";
  src: local("Oxygen Regular"), local("Oxygen-Regular"),
    url("../fonts/Oxygen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merienda";
  src: local("Merienda Regular"), local("Merienda-Regular"),
    url("../fonts/Merienda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}